#header-background {
    position: fixed;
    background-color: black;
    top: 0;
    left: 0;
}

.tech-slideshow {
    height: 10vh;
    width: 98.1vw;
    margin: 5px 15px 5px 15px;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
  }
  
  .tech-slideshow > div {
    height: 200px;
    width: 2826px;
    background-image: url(https://t4.ftcdn.net/jpg/00/11/55/73/360_F_11557382_KCYHEmhxBX5VjSrrqMg2xYOXRtqvW4pg.jpg);
    position: absolute;
    background-size: 550px;
    top: 0;
    left: 0;
    height: 100%;
    transform: translate3d(0, 0, 0);
  }
  .tech-slideshow .mover-1 {
    animation: moveSlideshow 12s linear infinite;
  }
  .tech-slideshow .mover-2 {
    opacity: 0;
    transition: opacity 0.5s ease-out;
    background-position: 0 -200px;
    animation: moveSlideshow 15s linear infinite;
  }
  
  @keyframes moveSlideshow {
    100% { 
      transform: translateX(-30%);  
    }
  }